*{
    margin: 0;
    padding: 0;
}
.signIn{
    width: 100%;
    height: 100%;
    background: darkslategrey;
    position: absolute;
    display: flex;
}
.signIn button{
    color: dodgerblue;
    font-size: 50px;
    margin:auto;
    height: 100px;
    width: 300px;
    border-radius: 50px;
    border: none;
    transition: 500ms;
}
.signIn button:hover{
    color: lime;
    cursor: pointer;
    background-color: #00A3FF;
    transition: 1s;
}
.none{
    display: none;
}
div{
    display: flex;
}
body{
    position: relative;
    background-color: darkslategrey;
}
.block{
    display: block;
}
header{
    width: 100%;
    height: 150px;
    background-color: aquamarine;
}
main{
    display: flex;
    width: 1522px;
    height: 982px;
    margin: 150px auto;
    background: #FFF;
}
aside{
    width: 390px;
    height: 100%;
    border-right: 1px solid rgba(94, 94, 94, 0.20);
}
aside > .Head{
    margin: 20px;
    display: flex;
    height: 150px;
    flex-direction: column;
}
aside > .Head > div > p {
    height: 40px;
    display: flex;
    margin-left: 10px;
    position: relative;
    color: #00A3FF;
    font-family: Inter,sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
}
.AddInput{
    width: 284px;
    height: 46px;
    flex-shrink: 0;
    margin: 33px 0 0 24px;
    border-radius: 12px;
    border: 1px solid #CCCFD0;
    background: #FFF;
}
.AddInput:focus{
    border: 2px solid #CCCFD0;
    outline: 0;
}
.AddButton{
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #00A3FF;
    margin: 33px 0 0 12px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.AddButton:hover{
    cursor: pointer;
}
aside > .Caption {
    margin-left: 12px;
    color: #818181;
    font-family: Inter,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
aside > .card{
    width: 390px;
    display: flex;
    height: 82px;
}
.Image{
    width: 58px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 58px;
    background-size: cover;
    margin: 12px 0 12px 24px;
}
.Avatar{
    width: 58px;
    height: 58px;
    border-radius: 58px;
}
.CardList{
    flex-direction: column;
    overflow-y: auto;
    max-height: 770px;
}
.card > .TextBlock{
    display: flex;
    margin: 18px 0 19px 16px;
    flex-direction: column;
}
.card > .TextBlock .Title{
    color: #717171;
    font-family: Inter,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.card .TextBlock .LastMessage{
    color: #5F5F5F;
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
main > .RightBlock > .Head{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 90px;
    flex-shrink: 0;
    border-bottom: 1px solid #DFDFDF;
    background: #FFF;
}
main > .RightBlock > .Head > .Name{
    margin-left: 12px;
}
.Name{
    color: #515151;
    font-family: Inter,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.Buttons{
    margin: 0 25px 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
}
section{
    width: 100%;
    height: 802px;
    overflow-y:auto;
    background: #F5F5F5;
    flex-direction: column;
}
section > .someOneMessage{
    margin: 15px;
    max-width: 500px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0px 14px 14px 14px;
    border: 1px solid #E7E7E7;
    background: #FFF;
}
section > .myMessage{
    max-width: 500px;
    margin: 15px 10px 0 auto;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 14px 0px 14px 14px;
    border: 1px solid #00A3FF;
    background: #00A3FF;
}
.RightBlock{
    flex-direction: column;
    width: 100%;
}
.InputMessageBlock{
    align-items: center;
    width: 100%;
    height: 90px;
    border-top: 1px solid #DFDFDF;
    background: #FFF;
}
.InputMessageBlock > input{
    margin-left: 10px;
    height: 50px;
    border: none;
    width: 100%;
}
.InputMessageBlock > input:focus{
    outline: none;
}
.InputMessageBlock > .ButtonBlock{
    display: grid;
    grid-template-columns: repeat(2, 1fr) 119px;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    margin: 0 46px 0 auto;
    position: relative;
    align-items: center;
}
.SendMessage{
    border-radius: 12px;
    background: #00A3FF;
    width: 119px;
    height: 46px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    align-items: center;
    justify-content: center;
}
